$primary: #202020;
$secondary: #121212;
$black: #000000;
$white: #FFFFFF;
$postTextColor: #D2D2D2;
$dataColor: #828282;
$circle: #C4C4C4;
$red: #ED3024;
$blue: #3137c9;
$link: #107EFF;
$borderColor: #1C1C1C;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$sidebar-width: 300px;

//@media requests
$tablet-bp: 991px;
$mobile-bp: 700px;
